$card-width: 400px;
$card-side-width: 20px;
$card-row-height: calc(calc(#{$card-width} - #{$card-side-width} - #{$card-side-width}) / 5); // 72px; // calc((400 - 20 - 20) / 5);

.card {
    width: $card-width;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        width: 100%;
        background-color: blue;
    }
    
    .footer {
        width: 100%;
        background-color: blue;
    }
    
    .container {
        width: 100%;
        display: flex;
        
        .left {
            width: $card-side-width;
            background-color: grey;
        }

        .right {
            width: $card-side-width;
            background-color: grey;
        }

        .grid {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: green;
    
            .bingo {
                display: flex;
                background-color: yellow;

                > div {
                    width: 20%;
                }
            }
            
            .row {
                width: 100%;
                display: flex;
                height: $card-row-height;
                background-color: red;
    
                .column {
                    width: 20%;
                    // height: 100%;
                    border: 1px solid green;
                    background-color: brown;

                    .square {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // align-content: center;
                        height: 100%;
                        background-color: aqua;
                    }
                }
            }
        }
    }
}
